.features-title {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.features-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.features-list{
 display: flex;
 gap: 24px;

}
.features{
        padding: 120px 0;
}
.features-item{
        width: calc((100% - 72px) / 4);
}
.features-icon-wrapper{
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
}